@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@font-face {
  font-family: "diablolight";
  src: url("./diablo_light-webfont.woff2") format("woff2"),
    url("./diablo_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "diablolight", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: rgb(141, 10, 10);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  margin: 25px 10px;
  padding: 5px;
  z-index: -1;
}

.rune-container {
  top: 10%;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 4px solid #000;
  border-radius: 4px;
  width: 500px;
  height: 500px;
  margin: 20px 10px;
  z-index: 10;
}

#runeBtn {
  display: flex;
  border: 3px solid #000;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(141, 10, 10);
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.6);
  color: #000;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  height: 60px;
  width: 200px;
  padding: 20px 10px;
  margin: 50px 10px 0 10px;
  transform: scale(1);
  transition: transform 0.4s ease-out;
}

#runeBtn:active {
  transform: scale(0.8);
}

#runeBtn:focus {
  outline: 0;
}

.cain {
  cursor: pointer;
  margin: 25px auto;
  height: 200px;
  border: 6px dashed #000;
  border-radius: 50%;
  opacity: 0.7;
  transform: scale(0.9);
  transition: transform 1.5s ease;
}

.cain:hover {
  opacity: 1;
  transform: scale(1);
  border: 6px dashed rgb(141, 10, 10);
}

label {
  color: #fff;
  font-size: 20px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  padding: 4px 8px;
  margin: 10px 5px;
}

#runeSelect {
  width: 80px;
  align-items: center;
  justify-content: center;
  text-align: end;
  font-size: 18px;
}

.rune {
  position: relative;
  cursor: pointer;
}

.rune p {
  font-family: "PT Sans Narrow", sans-serif;
}

.rune img {
  background-color: transparent;
  height: 50px;
  width: 50px;
  margin: 0px 12px;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.rune img:hover {
  transform: scale(1.2);
}

.rune.active img {
  border: 2px solid #fff;
}

.runeName {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.3rem;
}
